<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 fix-padding-container">
      <h2 class="text-center">Bienvenido a UniverMag</h2>
      <p class="text-center">Una Tienda en donde puedes conseguir todo!</p>
      <!--<div *ngIf="getUser()">-->
        <!--<ul>-->
          <!--<li><p class="text-center">Nombre: {{ getUser().name }}</p></li>-->
          <!--<li><p class="text-center">Mail: {{ getUser().email }}</p></li>-->
          <!--<li><p class="text-center">Pass: {{ getUser().password }}</p></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</div>
