<div class="row">
  <div class="col-md-2 fix-padding-container">
    <div class="thumbnail">
      <div class="caption">
        <h3>Carrito</h3>
        <h5>Articulos: {{details.items}}</h5>
        <h6>Total: {{details.total | currency: 'USD' : true : '1.2-2' }}</h6>
        <p><button md-raised-button color="primary">Comprar</button></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 fix-padding-container">

    <table class="table table-stripped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Curso</th>
          <th>Precio</th>
          <th>Canidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of keys()">
          <td>{{products[key].id}}</td>
          <td>{{products[key].name}}</td>
          <td>{{products[key].price}}</td>
          <td>{{products[key].quantity}}</td>
          <td>{{(products[key].price * products[key].quantity)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


