<div class="col-md-2 fix-padding-container">

  <div [@productState]="product.state">
    <md-card class="example-card">
      <!--<md-card-header>-->
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <!--<md-card-title>{{product.name}}</md-card-title>-->
        <!--<md-card-subtitle>{{product.type}}</md-card-subtitle>-->
      <!--</md-card-header>-->
      <img md-card-image src="{{product.image}}">
      <md-card-content>
        <h3>{{product.name}}</h3>
        <h5>{{product.price | currency: 'USD' : true : '1.2-2'}}</h5>
      </md-card-content>
      <md-card-actions>
        <div class="button-row">
          <button md-fab (click)="add(product)">
            <md-icon>add_shopping_cart</md-icon>
          </button>
        </div>
      </md-card-actions>
    </md-card>
  </div>

  <!--bootstrap design-->
  <!--<div class="thumbnail" [@productState]="product.state">-->
    <!--<a (click)="goToDetail(product)"><img src="{{product.image}}"></a>-->
    <!--<div class="caption">-->
      <!--<h3>{{product.name}}</h3>-->
      <!--<h5>{{product.price | currency: 'USD' : true : '1.2-2'}}</h5>-->
      <!--<p><button (click)="add(product)"  class="btn btn-primary btn-block">Add To Cart</button></p>-->
    <!--</div>-->
  <!--</div>-->

</div>
