<div class="row">
  <div class="col s3">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="purple-text">Carrito</h4>
        <h5>Articulos: {{details.items}}</h5>
        <h6>Total: {{details.total | currency: 'USD' : true : '1.2-2' }}</h6>
        <p><button class="btn red darken-4">despachar</button></p>
      </div>
    </div>
  </div>
  <div class="col s9">

    <table class="highlight">
      <thead>
        <tr>
          <th>ID</th>
          <th>Curso</th>
          <th>Precio</th>
          <th>Canidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of keys()">
          <td>{{products[key].id}}</td>
          <td>{{products[key].name}}</td>
          <td>{{products[key].price}}</td>
          <td>{{products[key].quantity}}</td>
          <td>{{(products[key].price * products[key].quantity)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


