<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-stripped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Contraseña</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of keys()">
        <td>{{users[key].name}}</td>
        <td>{{users[key].email}}</td>
        <td>{{users[key].password}}</td>
        <td>
          <button class="btn btn-info"><i class="fa fa-database"></i></button>
          <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
