<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <spinner-roll></spinner-roll>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 fix-padding-container">


    <!--<md-grid-list cols="12" rowHeight="35px">-->

      <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
        <!--Nombre-->
      <!--</md-grid-tile>-->
      <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
        <!--Mail-->
      <!--</md-grid-tile>-->
      <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
        <!--Contraseña-->
      <!--</md-grid-tile>-->
      <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
        <!--Accion-->
      <!--</md-grid-tile>-->

      <!--<div *ngFor="let key of keys()">-->
        <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
          <!--{{users[key].name}}-->
        <!--</md-grid-tile>-->
        <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
          <!--{{users[key].email}}-->
        <!--</md-grid-tile>-->
        <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
          <!--{{users[key].password}}-->
        <!--</md-grid-tile>-->
        <!--<md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">-->
          <!--Accion-->
        <!--</md-grid-tile>-->
      <!--</div>-->

    <!--</md-grid-list>-->


    <table class="table table-stripped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Contraseña</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of keys()">
        <td>{{users[key].name}}</td>
        <td>{{users[key].email}}</td>
        <td>{{users[key].password}}</td>
        <td>
          <!--<button class="btn btn-info"><i class="fa fa-database"></i></button>-->
          <!--<button class="btn btn-warning"><i class="fa fa-edit"></i></button>-->
          <button md-mini-fab color="accent">
            <md-icon class="icon">favorite_border</md-icon>
          </button>
          <button md-mini-fab color="primary">
            <md-icon class="icon">mode_edit</md-icon>
          </button>
          <button md-mini-fab color="warn">
            <md-icon class="icon">delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
