<div class="row fix-padding-container">
  <div class="col s6 offset-s3">

    <table class="bordered">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Contraseña</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of keys()">
        <td>{{users[key].name}}</td>
        <td>{{users[key].email}}</td>
        <td>{{users[key].password}}</td>
        <td>
          <!--<button class="btn btn-info"><i class="fa fa-database"></i></button>-->
          <!--<button class="btn btn-warning"><i class="fa fa-edit"></i></button>-->
          <button md-mini-fab color="accent">
            <md-icon class="icon">favorite_border</md-icon>
          </button>
          <button md-mini-fab color="primary">
            <md-icon class="icon">mode_edit</md-icon>
          </button>
          <button md-mini-fab color="warn">
            <md-icon class="icon">delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <spinner-roll></spinner-roll>
  </div>
</div>

