<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="spinner" *ngIf="showLoader">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<!--<div class="ispinner white large animating" *ngIf="showLoader">-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
  <!--<div class="ispinner-blade"></div>-->
<!--</div>-->
