<!--<md-toolbar> &lt;!&ndash; colors: primary / accent / warn &ndash;&gt;-->

  <!--<span>{{title}}</span>-->
  <!--<span class="example-spacer"></span>-->
  <!--<div class="example-spacer" *ngIf="sessionStatus()">-->
    <!--<button md-button routerLink="">Welcome</button>-->
    <!--<button md-button routerLink="products">Productos</button>-->
    <!--<button md-button routerLink="userlist">Usuarios</button>-->
    <!--<button md-button routerLink="movielist">Movies Api</button>-->
    <!--<button md-button routerLink="dribble">Dribble</button>-->
  <!--</div>-->

  <!--<div *ngIf="!sessionStatus()">-->
    <!--<button md-button routerLink="login">INGRESO</button>-->
    <!--<button md-raised-button color="accent" class="regboton" routerLink="register">REGISTRO</button>-->
    <!--<button class="btn blue lighten-2 waves-effect waves-light" routerLink="newregister">NewRegister</button>-->
  <!--</div>-->

  <!--<div *ngIf="sessionStatus()">-->
      <!--<md-icon class="nav-user-icon">account_circle</md-icon>-->
  <!--</div>-->
  <!--<div *ngIf="sessionStatus()">-->
    <!--<p class="nav-user">Bienvenido {{getUser().name}}</p>-->
  <!--</div>-->

  <!--<div *ngIf="sessionStatus()">-->
    <!--<button md-raised-button color="accent">-->
      <!--<md-icon class="example-icon">shopping_cart</md-icon>-->
      <!--<span class="badge">{{cartItems}}</span>-->
    <!--</button>-->
    <!--<button md-raised-button color="warn" (click)="logout()">Salir</button>-->
  <!--</div>-->

<!--</md-toolbar>-->

<nav>
  <div class="nav-wrapper light-blue darken-1">
    <a href="#" class="brand-logo logo"><i class="material-icons">shopping_cart</i>UNIVERMAG</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <div *ngIf="sessionStatus()">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#" routerLink="">Welcome</a></li>
        <li routerLinkActive="active"><a href="#" routerLink="products">Productos</a></li>
        <li routerLinkActive="active"><a href="#" routerLink="userlist">Usuarios</a></li>
        <li routerLinkActive="active"><a href="#" routerLink="movielist">Movies Api</a></li>
        <li routerLinkActive="active"><a href="#" routerLink="dribble">Dribbble</a></li>
        <li><a href="#" class="waves-effect waves-red" (click)="logout()">Salir</a></li>
      </div>
      <div *ngIf="!sessionStatus()">
        <li><a class="btn purple darken-1 waves-effect" routerLink="login">INGRESO</a></li>
        <!--<li><a class="btn red accent-3 waves-effect" routerLink="register">REGISTRO</a></li>-->
        <li><a class="btn blue lighten-2 waves-effect waves-light" routerLink="newregister">Registro</a></li>
      </div>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

