<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2 class="text-center">Ingreso a UniverMAG</h2>
      <p class="text-center">Somos una tienda privada.</p>
      <form action="" (ngSubmit)="login()" #loginForm="ngForm">
        <div class="has-error" *ngIf="error">
          {{error}}
        </div>
        <div class="form-group">
          <input type="text" class="form-control" (ngModule)="user.email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" (ngModule)="user.password" placeholder="Password">
        </div>
        <button class="btn btn-primary btn-block">LOGIN</button>
      </form>
    </div>
  </div>
</div>
